.order-details{width:100%; display:inline-block; border:solid 1px #e5e7eb; padding:10px 0;}
.order-details h4{font-size:22px; border-bottom:solid 1px #e5e7eb; padding:10px; display:inline-block; width:100%;}
.order-details .ordered-on{width:100%; float:left; margin-bottom:10px; padding:0 10px;}
.order-details .ordered-on strong{float:left;}
.order-details .ordered-on span{float:right;}
.order-shipped{width:100%; padding:10px; display:inline-block;}
.order-shipped .hlg{border-bottom:solid 1px #e5e7eb; padding-bottom:10px;}
.order-shipped .hlg span{display:inline-block; background:#fbf2b1; color:#000; padding:5px; border-radius:5px;}
.order-shipped .hlg span img{margin-right:4px;}
.order-shipped .hlg h5{display:inline-block; margin-left:10px; color:#000 !important;}
.order-shipped .cart_line-item-top{width:100%; float:left; margin-bottom:10px; margin-top:10px; display:inline-block !important; position: relative;}
.order-shipped .cart_line-item-top .cart_left{width:150px; float:left; margin-right:10px;}
.order-shipped .cart_line-item-top .cart_left img{width:100%;}
.order-shipped .cart_line-item-top .cart_right{width:81%; float:right;}
.order-shipped .cart_line-item-top .cart_right strong{font-size:17px; font-weight:bold; display: block;}
.order-shipped .cart_line-item-top .cart_right span{font-size: 12px; font-weight: 400;  color: #090909b3;}
.order-shipped .cart_line-item-top .cart_right span i{margin-right:5px;}
.order-shipped .cart_line-item-top .cart_right .price-list {
    width: 100%;
    float: left;
}
.order-shipped .cart_line-item-top .cart_right .price-list span.line-item {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
    margin: 0;
    color: #000;
}

.cartmiddle {
    position: absolute;
    right: 8px;
    top: 11px;
}

.ourratings{font-size:15px !important; color:#7693ff !important; margin-top:10px; display:inline-block;}
.ourratings i{font-size:16px; margin-right:5px;}

.order-shipped .cart_line-item-top .cart_right .price-list span.price-compare {
    color:#000;
    font-size:14px;
    font-weight:600;
   margin-bottom:3px;
    display: block;
}

.tracking{width:100%; display:inline-block; margin-top:20px;}

.order-tracking{
	text-align: center;
	width:21.33%;
	position: relative;
	display: block;
}
/*is complete*/
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: #c1c1c1;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #c1c1c1;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #339933;
	border-width: 0px;
	background-color: #339933;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
/*not complete*/
.order-tracking .not-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: #c1c1c1;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .not-complete:after {
	display: block;
	position: absolute;
	content: 'X';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border:none;
	border-width:initial;
	transform:initial;
    color:#fff;
	opacity: 0;
    line-height:16px;
}
.order-tracking.completed .not-complete{
	border-color: #587444;
	border-width: 0px;
	background-color: #f31f14d4;
}
.order-tracking.completed .not-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #000;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width:95%;
	background-color: #c1c1c1;
	top: 13px;
	position: absolute;
	left:-133px;
	z-index: 0;
}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{background-color: #339933;}

/*track order*/




.track{width:100%; display:inline-block; margin-top:20px;}

.order-track{
	text-align: center;
	width:19.33%;
	position: relative;
	display: block;
}
/*is complete*/
.order-track .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: #c1c1c1;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-track .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #c1c1c1;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-track.completed .is-complete{
	border-color: #339933;
	border-width: 0px;
	background-color: #339933;
}
.order-track.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-track .not-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: #c1c1c1;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-track .not-complete:after {
	display: block;
	position: absolute;
	content: 'X';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border:none;
	border-width:initial;
	transform:initial;
    color:#fff;
	opacity: 0;
    line-height:16px;
}
.order-track.completed .not-complete{
	border-color: #587444;
	border-width: 0px;
	background-color: #f31f14d4;
}
.order-track.completed .not-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-track p {
	color: #A4A4A4;
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-track p span{font-size: 14px;}
.order-track.completed p{color: #000;}
.order-track::before {
	content: '';
	display: block;
	height: 3px;
	width: 97%;
	background-color: #c1c1c1;
	top: 13px;
	position: absolute;
	left:-117px;
	z-index: 0;
}
.order-track:first-child:before{display: none;}
.order-track.completed:before{background-color: #339933;}



._btn_8g04k_3{color:#fff;}

.date3 {
    background: #597545;
    padding: 10px;
    border-radius: 10px;
    color:#fff;
}
.date3 label{color:#fff !important;}
.date3 .btn-outline-primary {
    background: #629d23;
    border: solid 1px #629d23;
    border-color: inherit;
    box-shadow: inherit;
    color: #fff;
}

:where(.css-dev-only-do-not-override-18afz5u).ant-picker .ant-picker-suffix{color:#000;}


.download-invoice{width:100%; display:inline-flex; justify-content: center; column-gap: 10px; border-top:solid 1px #c1c1c1; border-bottom:solid 1px #c1c1c1; padding:10px 0; text-align:center; margin-top:10px;}
.download-invoice a{font-size:17px;}

.price-details {
    width: 100%;
    float: left;
    margin-top: 24px;
}

.price-details h3 {
    font-size:22px;
    color: #000;
    font-weight: 400;
    line-height: 23px;
    margin-bottom:20px;
}
.price-details1{width:100%; display:inline-block; margin-top:10px; text-align:left;}
.price-details1 h3{text-align:left; border-bottom:solid 1px #ccc; padding-bottom:5px;}
.price-details1 ul{padding:0; margin:0; list-style:none;}
.price-details1 ul li {
    margin-bottom: 10px;
    width: 100%;
    float: left;
    font-size:17px;
    color: #000;
    font-weight: 400;
    margin-top: 0;
}

.price-details1 ul li span {
    float: left;
}

.price-details1 ul li span:last-child {
    float: right;
}

.price-details1 p {
    color: #3c8c7a;
    font-size: 12px;
}

.price-details1 .total-price {
    font-size:22px;
    margin: 0 0 12px;
    line-height: 1.4;
    font-weight:600;
    color: #000000;
    border-top: dashed 2px #eff2f5;
    padding:8px 10px 0;
    float:left;
    width:100%;
}

.price-details1 .total-price span {
    float: left;
}

.price-details1 .total-price span:last-child {
    float: right;
}


p.page-total-discount-message {
    color: #000;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    padding: 8px 16px;
    border-radius: 8px;
    background: #3c8c7a33;
    margin-top: 12px;
    display: inline-block;
    width: 100%;
}

@media only screen and (max-width:1550px) {
.order-track::before{left: -103px;}
.order-tracking::before{left: -107px;}
.order-shipped .cart_line-item-top .cart_right{width:82%;}
}

@media only screen and (max-width:1024px) {
.order-track{width:24.33%;}	
.order-tracking{width:24.33%;}
.order-tracking::before{left: -76px;}
.order-shipped {
    width: 98%;
    border: none;
    padding: 10px;
    display: inline-block;
    margin: 0;
}
.order-track::before{left: -78px;}


}


@media only screen and (max-width:767px) {
.order-shipped .cart_line-item-top .cart_left{width:100%;}
.order-shipped .cart_line-item-top .cart_right{width:100%;}
.order-details .ordered-on span {
    float: left;
}
.cartmiddle {
    text-align: center;
	width:100%;
	display:inline-block;
}

    .cartmiddle {
        text-align: center !important;
        width: 100%;
        display: inline-block !important;
    }
.cartmiddle button {
    display: inline-block;
    margin: 10px auto 0;
}
.order-shipped .cart_line-item-top{display:inline-block !important; position: relative;}
.order-tracking{width:100%; padding-bottom:40px;}
.order-tracking::before {
    left: 0;
	height: 51px;
    width: 1px;
	top: -42px;
	right: 0;
    margin: auto;
    }

.order-track{width:100%; padding-bottom:40px;}
.order-track::before {
        left: 0;
        height: 51px;
        width: 1px;
        top: -42px;
        right: 0;
        margin: auto;
    }

.price-details .total-price{width:100%; float:left;}
.price-details ul {
    padding: 9px;
    float: left;
}
.price-details .total-price{padding:5px 9px 0;}
}