.chatheader {
  width: 100%;
  display: inline-block;
  background-color: #8a934f;
  padding-bottom: 10px;
}

.chatheader a {
  color: #fff;
}

.chatbox {
  width: 1200px;
  margin: auto;
}
.chatbox .messaging {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
}
.chatbox-top {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.chatbox-top .arrow-left {
  float: left;
  margin-top: 20px;
}
.chatbox-top .arrow-left img {
  height: 34px;
}
.chatbox-top .got-questions {
  display: inline-block;
  width: 55%;
}
.chatbox-top .got-questions h2 {
  font-size: 30px;
  color: #fff !important;
  margin-bottom: 0;
}
.chatbox-top .got-questions span {
  font-size: 17px;
  color: #fff;
  line-height: 19px;
}
.chatbox-top .user-profile {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  line-height: 61px;
  text-align: center;
  float: right;
  background: #e9b162;
  margin-top: 10px;
}

.chatbox-top .user-profile img {
  height: 80%;
}

.messaging-chat {
  background: #8a934f;
  border-radius: 10px;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 10px 10px 30px;
  margin-top: 40px;
  position: relative;
}

.messaging-chat::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  background: #abb46c;
  width: 50%;
  margin: auto;
  height: 20px;
  border-radius: 20px;
}

.messaging-chat h3 {
  color: #f2e4da !important;
  font-size: 32px;
  margin-bottom: 9px;
}
.messaging-chat ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.messaging-chat ul li {
  width: 50%;
  display: inline-block;
  margin-bottom: 3px;
  text-align: left;
}
.messaging-chat ul li strong {
  color: #f2e4da;
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
}
.messaging-chat ul li span {
  font-size: 20px;
  font-weight: 300;
  color: #c8d8d9;
}

.chat-content {
  width: 100%;
  float: left;
  margin-top: 60px;
}
.chat-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.chat-content ul li {
  width: 100%;
  margin-bottom: 10px;
  display: inline-block;
}
.chat-content ul li img {
  float: left;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  line-height: 90px;
  text-align: center;
  background: #8a934f;
  padding: 4px;
  float: left;
}
.imgCont img {
  float: left;
  width: 100px !important;
  height: 100px !important;
  border-radius: 10px !important;
  line-height: 90px;
  text-align: center;
  background: #004d4f;
  padding: 4px;
  float: left;
}

.chat-content ul li .chat-right {
  float: left;
  margin-left: 20px;
  width: 60%;
}
.chat-content ul li .chat-right .chat-msg {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  background-color: #004d4f85;
  padding: 6px;
  color: #fff;
  font-size: 14px;
  line-height: 23px;
}

.chat-content ul li .chat-right .chat-msg span {
  vertical-align: top;
}

.chat-content ul li.messaging-right .chat-right {
  float: right;
}
.chat-content ul li.messaging-right .chat-right .chat-msg {
  background-color: #ccc;
}

.chat-content .chat-profile-name {
  width: 100%;
  float: left;
  margin-bottom: 0;
}
.chat-content .chat-profile-name h4 {
  color: #fff !important;
  font-size: 16px;
  margin-bottom: 0;
}
.chat-content .chat-profile-name h4 span {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding-left: 10px;
}
.chat-content ul li .chat-right .chat-msg p {
  color: #fff;
}

.chat-content .chat-profile-name h6 {
  margin-bottom: 0;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}

.chat-content .chat-profile-name h6 span {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  padding-left: 10px;
}

.chat-content .chat-footer {
  position: fixed;
  width: 60%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ddd3e2;
  border-radius: 100px;
  padding: 0px 20px;
  bottom: 0;

  margin: 0 auto;
}

.chat-content .chat-footer .profile-upload-btn {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #6c5876;
  text-align: center;
  font-size: 48px;
  color: #fff;
}

.chat-content .chat-footer .profile-upload-btn a {
  color: #fff;
}

.chat-content .chat-footer {
  position: fixed;
  width: 60%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ddd3e2;
  border-radius: 100px;
  padding: 0 20px;
  bottom: 0;
  margin: 0 auto;
}

.chat-content .chat-footer .chat_form {
  margin-right: 0;
  background: #ddd3e2;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0;
  resize: none;
  float: left;
  margin-top: 20px;
}
.scroll1111.chatbox .messaging.chat-content div .chat-footer textarea :focus {
  border: none !important;
  border-radius: 10px !important;
}
.chat-content .chat-footer .form-buttons {
  float: right;
  display: flex;
  align-items: center;
  text-align: center;
}

.renderFilePreview {
  position: relative !important;
  border: 1px dashed #bbbbbb;
  min-width: 10px;
  max-width: 90px;
  margin: 10px;
}

.close {
  width: 20px;
  height: 20px;
  background-color: #f70404;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: -17px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 13px;
  color: #fff !important;
  opacity: 1;
}

.bg-danger {
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .chatbox {
    width: 100%;
    padding: 0 10px;
  }
  .messaging-chat {
    padding: 20px 52px 30px;
    margin-top: 25px;
  }
  .chat-content ul li .chat-right .chat-msg {
    padding: 10px;
  }
  .chat-content {
    margin-top: 37px;
  }
  .messaging-chat ul li span {
    font-size: 16px;
  }
  .messaging-chat ul li strong {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .messaging-chat {
    border-radius: 10px;
    padding: 11px 11px 30px;
  }
  .chatbox-top .got-questions h2 {
    font-size: 22px;
  }
  .messaging-chat h3 {
    font-size: 24px;
  }
  .messaging-chat::before {
    bottom: -5px;
    height: 13px;
  }
  .chat-content ul li .chat-right {
    width: 92%;
  }
  .chat-content ul li .chat-right .chat-msg {
    border-radius: 10px;
  }
  .chat-content ul li img {
    width: 50px !important;
    height: 50px !important;
  }

  .renderFilePreview img {
    width: 50px !important;
    height: 50px !important;
  }

  .chat-content .chat-footer {
    width: 94%;
  }
  .chat-content .chat-footer .chat_form {
    margin-top: 4px;
  }
}
