.rts-chop-details-area {
  width: 100%;
  display: inline-block;
}
.product-details-popup {
  float: left;
  width: 100%;
  border-radius: 7px;
  background: #fff;
  position: relative;
  z-index: 77;
}

.rts-chop-details-area .details-product-area {
  width: 100%;
  display: inline-block;
}

.rts-chop-details-area .details-product-area .product-title {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 400;
}

.rts-chop-details-area .details-product-area p {
  color: #6e777d;
  max-width: 540px;
  margin-bottom: 20px;
}

.rts-chop-details-area .details-product-area p a {
  color: #6e777d;
}

.rts-chop-details-area .product-price {
  margin-bottom: 10px;
  font-size: 20px;
  color: #000;
  font-weight: 600;
}

.rts-chop-details-area .product-price .old-price {
  font-size: 16px;
  font-weight: 600;
  color: #cfcfcf;
  text-decoration: line-through;
  margin-right: 12px;
  margin-left: 13px;
}
.rts-chop-details-area .product-price .product-label {
  background: none;
  color: #006f4b;
  font-size: 16px;
  margin-left: 10px;
  font-weight: 600;
  padding: 0;
  vertical-align: text-top;
}
.rts-chop-details-area .details-product-area p.fs-4 {
  font-size: 17px !important;
  margin-bottom: 3px !important;
}
.rts-chop-details-area .details-product-area .fs-3 {
  font-size: 17px !important;
  margin-bottom: 3px !important;
}

.cod-available-badge {
  order: 3;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-left: 11px;
}

span.cod-available-badge-icon {
  z-index: 99;
  position: relative;
  height: 38px;
  width: 38px;
  display: inline-block;
  border: solid 1px #af8c7a;
  text-align: center;
  line-height: 31px;
  border-radius: 50%;
  background: #fff;
  margin-top: 0;
}

span.cod-available-badge-text {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  padding: 1.5px 8px 2.5px 18px;
  border-radius: 8px;
  background: linear-gradient(180deg, #f18c58 0%, #94664a 100%);
  margin-left: -14px;
  z-index: 9;
  position: relative;
  margin-top: 12px;
  vertical-align: top;
  display: inline-block;
}

.choose-pack-size {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}

.choose-pack-size strong {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #00000080;
}

.choose-pack-size .block-swatch-item {
  display: inline-block;
  padding: 10px 20px 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(205, 204, 200, 0.6);
  border-radius: 50px;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  line-height: 2.2;
  font-size: 18px;
}

.product-bottom-action {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.product-bottom-action .cart-edits {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.product-bottom-action .cart-edits span {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 400;
}

.product-bottom-action .action-item {
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
  border-radius: 6px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  padding: 3px 10px;
  border-radius: 11px;
}

.product-bottom-action .cart-edits button {
  background: none;
  font-size: 22px;
}

.product-bottom-action .cart-edits .quantity-edit input {
  text-align: center;
  max-width: 55px;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  padding: 0;
  border: none;
}

.product-uniques {
  margin-bottom: 20px;
}
.product-uniques .icon {
  height: 43px;
  width: 43px;
  border: solid 1px #8c593f;
  display: inline-block;
  line-height: 43px;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 7px;
  margin-right: 10px;
  color: #af806b;
}

/* .product-uniques .add-with-icon {
  display: inline-flex;
  justify-content: center;
  max-height: 46px !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  margin-top: 7px;
  max-width: 200px;
  padding: 0px 40px;
  border-radius: 6px;
  color: #fff;
} */
.product-uniques .addtocart {
  width: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  color: #80563f;
  max-height: 39px !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 39px;
  height: auto;
  border-radius: 8px;
  border: 1px solid #80563f;
  background: #fff;
  float: right;
  text-align: center;
  margin-top: 10px;
}

.product-uniques .addtocart1 {
  width: 200px;
  padding: 9px;
  color: #868686;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  height: auto;
  border-radius: 8px;
  background: #fff;
  float: right;
  cursor: none;
  text-align: center;
  margin-top: 10px;
}

.product-uniques .addtocart:hover {
  background: #80563f;
  color: #fff;
}
.combo {
  width: 100%;
  display: inline-block;
  background: #f1f1f1;
  padding: 7px 7px 0;
  border: none;
}

.combo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.combo ul li {
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.combo .combo-list {
  position: relative;
  height: fit-content;
  padding: 0;
  margin-right: 15px;
}

.combo-list2 {
  background: #fff;
  border-radius: 0;
  padding: 0 0;
  display: inline-block;
  text-align: center;
  min-width: 491px;
  margin-bottom: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.combo-list3 {
  display: flex;
}

.combo .axil-product {
  text-align: left;
  margin: 0 3px;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 232px;
  border: none;
}

.combo ul li .axil-product:before {
  content: "+";
  position: absolute;
  right: -12px;
  top: 50px;
  font-size: 24px;
  z-index: 9;
  border-radius: 50%;
  color: #898989;
  height: auto;
  width: auto;
  line-height: 35px;
  text-align: center;
}

.axil-product .thumbnail {
  position: relative;
  display: block;
}

.combo .axil-product .thumb {
  margin-top: 0 !important;
  text-align: center;
}

.combo .axil-product img {
  width: 39%;
  margin: auto;
}

.combo .axil-product .product-content {
  margin-top: 0;
  padding: 5px 0 0 0;
  min-height: initial;
  text-align: center;
}

.combo .axil-product .product-content a {
  color: #9b7a7a;
}

.combo .axil-product a {
  font-size: 12px;
  line-height: 15px;
}

.combo .axil-product .product-content .product-price-variant {
  font-size: 15px;
  color: #000;
}

.combo .combo-list:last-child {
  margin-right: 0;
}

.combo ul li .combo-list3 .axil-product:last-child:before {
  display: none;
}

.combo .combo-list .btn {
  margin-top: 10px;
}

.combo .combo-list .product-price-variant.variant {
  margin-top: 0;
  border-top: solid 1px #d8d8d8;
  float: left;
  width: 100%;
  padding-top: 3px;
}

.combo .combo-list .product-price-variant span.price.old-price {
  text-decoration: line-through;
  margin-left: 10px;
}

.combo .combo-list .product-price-variant.variant .price.current-price1 {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-size: 15px;
}

.combo .combo-list .product-price-variant span.price.save {
  font-weight: bold;
  display: inline-block;
  margin-left: 6px;
}

.combo .combo-list .btn {
  margin-top: 10px;
}
.combo .btn {
  background-color: #fefdfd;
  width: 100%;
  padding: 5px 10px;
  color: #925d38;
  border: 1.5px solid #925d38;
  font-size: 16px;
  border-radius: 10px;
  max-width: 300px;
  font-weight: 300;
}

.combo .btn:hover {
  background: #80563f;
  color: #fff;
}

/* .similar-products {
  margin-bottom: 100px;
} */
.product-details-img {
  width: 100%;
  display: inline-block;
}
.product-details-img img {
  width: 100%;
  border-radius: 10px;
}

.react-multiple-carousel__arrow--left {
  left: 0;
}

.product-discription-tab-shop {
  margin-top: 30px;
}

.product-discription-tab-shop ul {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 20px !important;
}

.product-discription-tab-shop .tab-content .tab-pane {
  border: solid 1px #ccc;
  padding: 10px;
}
.product-discription-tab-shop .tab-content .tab-pane h4 {
  font-size: 17px;
}
.product-discription-tab-shop .tab-content .tab-pane p {
  position: relative;
  padding-left: 20px;
}
.product-discription-tab-shop .tab-content .tab-pane p::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 12px;
  background-color: #ccc;
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

@media only screen and (max-width: 575px) {
  .product-discription-tab-shop ul {
    gap: 0;
  }
}

.product-discription-tab-shop ul.bottom-ul {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0;
}

.product-discription-tab-shop ul.bottom-ul li {
  margin: 5px 0;
}

.product-discription-tab-shop button {
  border: 1px solid rgba(43, 66, 38, 0.12) !important;
  padding: 13px 20px;
  font-weight: 700;
  color: #2c3c28;
  border-radius: 6px !important;
}

.product-discription-tab-shop button.active {
  background: var(--color-primary) !important;
  border: 1px solid var(--color-primary) !important;
  color: #fff !important;
}

.product-discription-tab-shop button:hover {
  background: var(--color-primary) !important;
  border: 1px solid var(--color-primary) !important;
  color: #fff !important;
}

.table-shop-details-pd table tr {
  border: 1px solid #e9ecef;
}

.table-shop-details-pd table thead {
  border-style: unset !important;
  border: 1px solid #e9ecef !important;
}

.table-shop-details-pd table thead tr th {
  padding: 15px;
  border: none;
  width: 50%;
}

.table-shop-details-pd table tbody tr td {
  padding: 15px;
}

.single-tab-content-shop-details p {
  margin-bottom: 20px;
}

.single-tab-content-shop-details p:last-child {
  margin-bottom: 0;
}

.single-tab-content-shop-details p span {
  font-weight: 600;
}

.single-tab-content-shop-details p.note {
  color: var(--color-danger);
}

.single-tab-content-shop-details {
  margin-top: 30px;
}
.single-tab-content-shop-details ul {
  display: inline-block;
  width: 100%;
}

.single-tab-content-shop-details ul li {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}


@media (max-width: 992px) {
  .product-uniques .add-with-icon {
    min-height: 40px;
    font-size: 19px;
    padding: 0 35px;
    line-height: 40px;
  }
  .product-uniques .icon {
    line-height: 40px;
    height: 40px;
    font-size: 19px;
  }
  .zoom-img-container {
    height: 230px !important;
    width: 100% !important;
  }
  .rts-chop-details-area .details-product-area .product-title {
    font-size: 19px;
  }
  .rts-chop-details-area .product-price .product-label {
    font-size: 21px;
  }
}
.product-details-img div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-details-img div div img {
  border: 1px solid gray;
}
figure div img {
  border: none !important;
}
.IMGZOOMCONT {
  display: flex;
  margin: 20px;
}
@media (max-width: 776px) {
  figure div img {
    order: 1;
  }
  .IMGZOOMCONT {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .product-details-img div div {
    display: flex;
    align-items: center;
    flex-direction: row;
    order: 2;
    justify-content: center;
  }
  .product-details-img div div img {
    margin: 5px;
  }
}
